<h1 mat-dialog-title>Add a new player</h1>
<div mat-dialog-content>
  @if (playersExist) {
    <p>Please add at least one player.</p>
  } @else {
    <p>Please enter the name of a player.</p>
  }
  <mat-form-field appearance="fill">
    <mat-label>Player</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="data.name.length == 0" [mat-dialog-close]="data.name">OK</button>
</div>
